<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Login page </title>
</head>
<body>
<h3> Hello, dear developer! </h3>
<p th:if="${param.error}">
    Bad Credentials
</p>
<form th:action="@{/login}" th:method="POST" th:object="${user}">
    <p th:if="${param.logout != null}">
        You have been logged out.
    </p>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Login"/>

</form>
</body>
</html>